<h1>TestFlight Module</h1>

<h2>Description</h2>

<p>Testflightapp.com SDK integration</p>

<p>Note: TestFlight requires that your device be registered with TestFlight. This means that the module will not work in the iOS simulator.</p>

<h2>Accessing the testflight Module</h2>

<p>To access this module from JavaScript, you would do the following:</p>

<pre><code>var testflight = require("ti.testflight");
</code></pre>

<p>The testflight variable is a reference to the Module object.    </p>

<h2>Reference</h2>

<h3>testflight.token('')</h3>

<h4>Arguments</h4>

<p>Takes one argument, a string which is the Team token that will be used for your builds (the team token is NOT the API token)</p>

<h3>testflight.customInfo('', '')</h3>

<h4>Arguments</h4>

<p>Takes two arguments, the first being a string for the key, the second a string for the value.
These are environment based details, so it won't track changes in the data.
For example you might use this for a username of the tester within your app.</p>

<h3>testflight.checkpoint('')</h3>

<h4>Arguments</h4>

<p>Takes one argument, a string which is the name for your checkpoint</p>

<h3>testflight.feedback()</h3>

<p>Show the feedback dialog</p>

<h3>testflight.submitFeedback('')</h3>

<h4>Arguments</h4>

<p>Takes one argument, a string you want recorded as feedback. Use this if you want to make a custom feedback form.</p>

<h2>Usage</h2>

<pre><code>  var testflight = require('ti.testflight');

  testflight.token('YourTeamTokenHere');

  testflight.checkpoint('SomeCheckpoint');

  testflight.feedback();

  testflight.sendFeedback('Text from your own custom form');
</code></pre>

<h2>Authors</h2>

<p>Rick Blalock
Twitter: rblalock</p>

<p>Matt Apperson
Twitter: mattapperson</p>

<h2>License</h2>

<p>Apache Public License 2.0</p>
